# Compiled source #
###################
*.com
*.class
*.exe
*.o
*.so
*.ReSharper
*.ReSharper.user

# Folders #
###################
bin/
obj/
AdemolaTyper/bin/
AdemolaTyper/obj/
AdemolaTyperTest/bin/
AdemolaTyperTest/obj/
MVVMLib/bin/
MVVMLib/obj/
_ReSharper.AdemolaTyper/